<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{getTitle()}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="cancel()">
                <ion-icon name="close"></ion-icon>
              </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-segment (ionChange)="segmentChanged($event)" [value]="ALL_ITEMS">
        <ion-segment-button [value]="ALL_ITEMS">
            <ion-label>all</ion-label>
        </ion-segment-button>
        <ion-segment-button *ngFor="let type of getTypes()" [value]="type._id">
            <ion-label>{{type.name}}</ion-label>
        </ion-segment-button>
    </ion-segment>

    <ion-list>
        <ion-item *ngFor="let item of getItemsByType()">
            <ion-button size="small" color="danger" class="list-btn" [disabled]="getOpenAmount(item) == 0" (click)="remove(item._id)">
                <ion-icon name="remove"></ion-icon>
            </ion-button>
            <ion-button fill="clear" class="text-btn" [disabled]="!item.isActive()" (click)=add(item)>
                <ion-grid>
                    <ion-row>
                        <ion-col class="left"> 
                            {{ item.name }}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col class="left">
                            {{ item.price | Currency }}
                        </ion-col>
                        <ion-col class="right">
                            {{ getOpenAmount(item) }}
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-button>
            <ion-button size="small" color="primary" class="list-btn" [disabled]="getOpenAmount(item) == 0" (click)="setComment(item)">
                <ion-icon name="document-text"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-list>
</ion-content>

<ion-button size="large" expand="block" [disabled]="disableOrder()" (click)="addOrder()">Bestellen</ion-button>
<ion-button expand="block" (click)="cancel()">Abbrechen</ion-button>
