<ion-split-pane contentId="main-content" when="(min-width: 992px)">
  <ion-menu contentId="main-content" swipeGesture="true">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>{{ getMenuTitle() }}</ion-title>
          <!-- <ion-buttons slot="end">
            <ion-button>
              <ion-icon name="settings"></ion-icon>
            </ion-button>
            <ion-button>
              <ion-icon name="log-out"></ion-icon>
            </ion-button>
          </ion-buttons> -->
        </ion-toolbar>
    </ion-header>

    <ion-content class="ion-padding">
      <ion-list>
        <ion-menu-toggle auto-hide="false" *ngFor="let page of getPages()">
          <ion-item [routerLink]="page.url" routerDirection="root" [disabled]="isDisabled(page)" [class.menu-active-item]="isActivated(page)">
            <ion-icon [name]="page.icon" slot="start"></ion-icon>
            <ion-label>
              {{page.title}}
            </ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-split-pane>