<div class="center" xmlns="http://www.w3.org/1999/html">
  <mat-divider></mat-divider>
  <h4>
    Favourites
    <button (click)="favouritesService.openOverlay()">
      <mat-icon class="fav-btn"> <div class="."></div> </mat-icon>
    </button>
  </h4>
  <mat-divider></mat-divider>


  <div class="table-btns grid">
    <div *ngFor="let table of tableOverviewService.favTables">
      <div *ngIf="ordersService.hasOpenOrder(table); then coloredButton else greyButton"></div>
      <ng-template #coloredButton>
        <button class="table-btn has-order" [routerLink]="['/table', table]"> {{table}} </button>
      </ng-template>
      <ng-template #greyButton>
        <button class="table-btn" [routerLink]="['/table', table]"> {{table}} </button>
      </ng-template>
    </div>
  </div>



  <mat-divider></mat-divider>
  <h4>All Tables</h4>
  <mat-divider></mat-divider>

  <div class="table-btns grid">
    <div *ngFor="let table of tableOverviewService.tables">
      <div *ngIf="ordersService.hasOpenOrder(table); then coloredButton else greyButton"></div>
      <ng-template #coloredButton>
        <button class="table-btn has-order" [routerLink]="['/table', table]"> {{table}} </button>
      </ng-template>
      <ng-template #greyButton>
        <button class="table-btn" [routerLink]="['/table', table]"> {{table}} </button>
      </ng-template>
    </div>
  </div>


</div>

