<div class="center">
  <mat-tab-group mat-stretch-tabs mat-align-tabs="center">
    <mat-tab *ngFor="let loc of getLocs()" [label]="loc">
      <div class="table-btns grid">
        <div *ngFor="let table of getLocTableNames(loc)">
          <div *ngIf="isFavourite(table); then coloredButton else greyButton"></div>
          <ng-template #coloredButton>
            <button class="table-btn has-order" (click)="toggleFav(table)"> {{table}} </button>
          </ng-template>
          <ng-template #greyButton>
            <button class="table-btn" (click)="toggleFav(table)"> {{table}} </button>
          </ng-template>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>

  <button mat-raised-button class="btn-bottom btn-2-left" (click)="this.reset()">reset</button>
  <button mat-raised-button class="btn-bottom btn-2-right" (click)="this.save()">save</button>
</div>
