<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)="search()">
        <ion-icon name="search"></ion-icon>
        <ion-label>Search</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="overview">
        <ion-icon name="home"></ion-icon>
        <ion-label>Overview</ion-label>
      </ion-tab-button>
  
      <ion-tab-button (click)="readQr()">
        <ion-icon name="qr-scanner"></ion-icon>
        <ion-label>QR-Scanner</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
  