<router-outlet></router-outlet>

<mat-toolbar _ngcontent-c0="" class="navbar-bottom mat-toolbar mat-primary mat-toolbar-single-row" color="primary">
  <button class="transparent-btn navbar-bottom-btn" routerLink="/calendar">
    <mat-icon> event </mat-icon>
  </button>
  <button class="transparent-btn navbar-bottom-btn" routerLink="/table-overview">
    <mat-icon> home </mat-icon>
  </button>
  <button class="transparent-btn navbar-bottom-btn" routerLink="/add">
    <mat-icon> add </mat-icon>
  </button>
</mat-toolbar>
