<ion-header translucent>
  <ion-toolbar color="primary">
    <ion-title>Kommentar hinzufügen</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item *ngFor="let comment of getComments()">
      <ion-button size="small" color="danger" class="list-btn" [disabled]="getAmount(comment) == 0" (click)="remove(comment)">
        <ion-icon name="remove"></ion-icon>
      </ion-button>
      <ion-button fill="clear" class="text-btn" (click)="addComment(comment)">
        <ion-grid>
          <ion-row>
            <ion-col class="left"> 
              {{ comment }}: {{ getAmount(comment)}}x 
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-button>
    </ion-item>
  </ion-list>

  <form (ngSubmit)="addCustomComment()">
    <ion-item>
      <ion-input placeholder="Enter comment" type="text" [(ngModel)]="customComment" name="customComment" clearInput></ion-input>
      <ion-button [disabled]="!customComment" type="submit" block>Hinzufügen</ion-button>
    </ion-item>
  </form>
  
</ion-content>

<ion-button size="large" expand="block" (click)="save()">Speichern</ion-button>
