<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>Tischplan</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button *ngFor="let loc of getLocations()" [value]="loc._id">
      <ion-label>{{loc.name}}</ion-label>
    </ion-segment-button>
  </ion-segment>

  <gridster [options]="options">
    <gridster-item [item]="item" *ngFor="let item of getItems()">
        <div class="center">{{getTableName(item.tableId)}}</div>
    </gridster-item>
  </gridster>
</ion-content>

<ion-item *ngIf="isAdmin()">
  <ion-label><strong>Bearbeiten</strong></ion-label>
  <ion-button fill="clear" style="--color: black;" (click)="toggleShowEdit()">
    <ion-icon *ngIf="!showEdit" slot="end" name="chevron-up"></ion-icon>
    <ion-icon *ngIf="showEdit" slot="end" name="chevron-down"></ion-icon>
  </ion-button>
</ion-item>

<div *ngIf="showEdit">
  <ion-item *ngIf="isAdmin()">
    <ion-label><strong>Verschieben aktivieren</strong></ion-label>
    <ion-toggle [checked]="edit" (ionChange)="changeEdit($event)">Edit</ion-toggle> 
  </ion-item>
  <form [formGroup]="floorplanForm" (ngSubmit)="changeGrid()" (keyup.enter)="changeGrid()">
    <ion-item>
      <ion-label><strong>Zeilen: </strong></ion-label>
      <ion-input type="number" placeholder="Rows" formControlName="rows"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label><strong>Spalten: </strong></ion-label>
      <ion-input type="number" placeholder="Columns" formControlName="columns"></ion-input>
    </ion-item>

    <ion-button expand="block" type="submit">Zeilen/Spalten übernehmen</ion-button>
  </form>

  <ion-button size="large" expand="block" (click)="save()">Speichern</ion-button>
</div>
