<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
        <ion-title>{{getTitle()}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-segment *ngIf="hasOpenOrder()" (ionChange)="segmentChanged($event)" [value]="ALL_ITEMS">
        <ion-segment-button [value]="ALL_ITEMS">
            <ion-label>all</ion-label>
        </ion-segment-button>
        <ion-segment-button *ngFor="let type of getTypes()" [value]="type._id">
            <ion-label>{{type.name}}</ion-label>
        </ion-segment-button>
    </ion-segment>

    <ion-list *ngIf="hasOpenOrder()">
        <ion-item lines="none">
            <ion-grid>
                <ion-row>
                    <ion-col class="align-self-start"> 
                        <strong>Item</strong>
                    </ion-col>
                    <ion-col class="center">
                        <strong>Amount</strong>
                    </ion-col>
                    <ion-button size="small" fill="clear" disabled>
                        <ion-icon></ion-icon>
                    </ion-button>
                </ion-row>
            </ion-grid>
        </ion-item>

        <ion-item *ngFor="let orderItem of getOrderItems()">
            <ion-button size="large" fill="clear" class="text-btn detail-btn" disabled>
                <ion-grid>
                    <ion-row>
                        <ion-col class="left"> 
                            {{ getItemName(orderItem) }}
                        </ion-col>
                        <ion-col>
                            {{ orderItem.getOpenAmount() }}
                        </ion-col>
                        <div *ngIf="hasComments(orderItem); then hasComment else hasNoComment"></div>
                        <ng-template #hasComment>
                            <ion-button size="small" fill="clear" class="list-btn" (click)="expand(orderItem)">
                                <ion-icon name="information-circle-outline"></ion-icon>
                            </ion-button>
                        </ng-template>
                        <ng-template #hasNoComment>
                            <ion-button size="small" fill="clear" disabled>
                                <ion-icon></ion-icon>
                            </ion-button>
                        </ng-template>
                    </ion-row>
                    <div *ngIf="isExpanded(orderItem); then expanded"></div>
                    <ng-template #expanded>
                        <ion-list class="comments" *ngFor="let comment of getComments(orderItem)">
                            <ion-item lines="none">
                                {{ comment }}
                            </ion-item>
                        </ion-list>
                    </ng-template>
                </ion-grid>
            </ion-button>
        </ion-item>
    </ion-list>

    <div *ngIf="!hasOpenOrder()" class="center">
        No open order
    </div>

</ion-content>
    
<ion-button size="large" expand="block" (click)="route('order')">order</ion-button>
<ion-button size="large" [disabled]="!hasOpenOrder()" expand="block" (click)="route('pay')">pay</ion-button>
