<ion-card *ngFor="let type of getTypes()">
  <ion-card-header>
    <ion-card-title>
      <ion-item lines="none">
        <h4> {{ type.name }} </h4>
        <!-- <ion-button slot="end" size="small" fill="clear" class="list-btn">
          <ion-icon name="pencil"></ion-icon>
        </ion-button> -->
        <ion-button slot="end" size="small" fill="clear" class="list-btn" (click)="deleteType(type)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
        <ion-button slot="end" size="small" fill="clear" class="list-btn" (click)="expand(type)">
          <ion-icon *ngIf="isExpanded(type)" name="chevron-up"></ion-icon>
          <ion-icon *ngIf="!isExpanded(type)" name="chevron-down"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list *ngIf="isExpanded(type)">
      <ion-item *ngFor="let item of getItems(type)">
        {{ item.name }}: 
        {{ item.price | Currency }}
        <ion-toggle slot="end" [checked]="item.isActive()" (ionChange)="toggleActive(item)"></ion-toggle>
        <!-- <ion-button slot="end" size="small" fill="clear" class="list-btn">
          <ion-icon name="pencil"></ion-icon>
        </ion-button> -->
        <ion-button slot="end" size="small" fill="clear" class="list-btn" (click)="deleteItem(item)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<!-- <ion-fab vertical="bottom" horizontal="center" edge slot="fixed">
  <ion-fab-button (click)="add()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab> -->