

<div class="container" [class.is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="toolbar toolbar-top">
    <button mat-icon-button class="transparent-btn sidenav-toggle-btn" (click)="toggleSidenav()"><mat-icon>menu</mat-icon></button>
    <h1 class="app-name">{{langService.title}}</h1>
  </mat-toolbar>
  <mat-sidenav-container class="sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'over'"
                 [fixedInViewport]="mobileQuery.matches"
                 role="navigation" fixedTopGap="56" class="sidenav">
      <h5>Settings</h5>
      <button routerLink="/admin" (click)="clickedSidenavBtn()" class="transparent-btn sidenav-item-btn">Admin</button>
      <button routerLink="/floorplan" (click)="clickedSidenavBtn()" class="transparent-btn sidenav-item-btn">Floorplan</button>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="content">
        <router-outlet></router-outlet>
      </div>

      <app-navbar class="toolbar"> </app-navbar>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
