@import 'style/align.scss';
@import 'style/btn.scss';
@import 'style/comment.scss';
@import 'style/floorplan.scss';
@import 'style/grid.scss';
@import 'style/menu.scss';
@import 'style/qr.scss';

ion-item {
  --padding-start: 0;
  --padding-end: 0;
}
