<div class="search center">

  <app-table-overview-grid [tables]="getFavTables()" (click)="closeOverlay()"></app-table-overview-grid>

  <form (ngSubmit)="onSubmit(tableControl.value)">
    <mat-form-field>
      <input matInput type="text" aria-label="Number" placeholder="Table Name" [formControl]="tableControl" [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let table of filteredTables | async" [value]="table">
          {{table}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <div> 
      <button mat-raised-button type="button" (click)="closeOverlay()">cancel</button>
      <button mat-raised-button type="submit">open</button>
    </div>
  </form>
</div>
