<mat-tab-group mat-stretch-tabs mat-align-tabs="center">
    <mat-tab *ngFor="let type of getTypes()" [label]="type">
      <ng-template matTabContent>
        <app-order-table [table]="table" [type]="type"></app-order-table>
      </ng-template>
    </mat-tab>
</mat-tab-group>

Total {{total() | currency}}

<div>
  <button mat-raised-button class="btn-bottom btn-2-left" routerLink="/table/{{table}}">Cancel</button>

  <button mat-raised-button class="btn-bottom btn-2-right" (click)="addOrder()" routerLink="/table/{{table}}">Order</button>
</div>
