<ion-card>
  <ion-card-header>
    <ion-card-title>Server</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <form (ngSubmit)="setServer()">
      <ion-item>
        <ion-input placeholder="Enter Server Url" type="text" [(ngModel)]="serverUrl" name="serverUrl" clearInput></ion-input>
      </ion-item>
      <ion-button expand="block" [disabled]="!serverUrl" type="submit">SpeicherN</ion-button>
    </form>
    <ion-button expand="block" (click)="reset()">Zurücksetzen</ion-button>
  </ion-card-content>
</ion-card>