<mat-slide-toggle [checked]="edit" (toggleChange)="changeEdit()">
    Edit
</mat-slide-toggle>

<div *ngIf="edit">
    <mat-form-field>
        <input matInput autocomplete="off" type="number" placeholder="Rows" [(ngModel)]="rows">
    </mat-form-field>

    <mat-form-field>
        <input matInput autocomplete="off" type="number" placeholder="Columns" [(ngModel)]="columns">
    </mat-form-field>
    <button mat-raised-button (click)="changeGrid()">Change grid</button>

    <button mat-raised-button (click)="save()">save Floorplan</button>
</div>

<gridster [options]="options">
    <gridster-item [item]="item" *ngFor="let item of getItems()">
        <div>{{item.label}}</div>
    </gridster-item>
</gridster>