.list-btn {
  height: 100%;
  width: 65px;
}

.table-btn {
  cursor: pointer;
  --color: black;
  --background: rgba(0, 0, 0, 0.1);
  width: 90%;
  height: 90%;
}

.search-btn {
  height: 100%;
  width: 100%;
  background: none;
  text-align: left;
}

.text-btn {
  height: 100%;
  width: 100%;
  --color: black;
  --padding-start: 0;
  --padding-end: 0;
  text-transform: none;
  white-space: normal;
}

.detail-btn {
  opacity: 1;
  --background-hover-opacity: 0;
}
