.left {
  text-align: left;
}

.center {
  text-align: center;
}

tr.mat-footer-row {
  font-weight: bold;
}
table {
  width: 100%;
}

tr.detail-row {
  height: 0;
}

tr.element-row:not(.expanded-row):hover {
  background: #777;
}

tr.element-row:not(.expanded-row):active {
  background: #efefef;
}

.element-row td {
  border-bottom-width: 0;
}

.element-detail {
  overflow: hidden;
  display: flex;
}

.element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.element-description {
  padding: 16px;
}

.element-description-attribution {
  opacity: 0.5;
}

td.mat-cell:last-of-type {
  padding-right: 0;
}

.expand-icon {
  font-size: 14px;
}

.btn-bottom {
  bottom: 56px;
  position: fixed;
  height: 70px;
}

.btn-1 {
  width: 100%;
  left: 0;
}

.btn-2-left {
  width: 50%;
  left: 0;
}

.btn-2-right {
  width: 50%;
  right: 0;
}

.btn-3-left {
  width: 33.3%;
  left: 0;
}

.btn-3-mid {
  width: 33.3%;
  left: 33.3%;
}

.btn-3-right {
  width: 33.3%;
  right: 0;
}