<ion-card *ngFor="let comment of getComments()">
  <ion-card-header>
    <ion-card-title>
      <ion-item lines="none">
        <h4> {{ comment.name }} </h4>
        <!-- <ion-button slot="end" size="small" fill="clear" class="list-btn">
          <ion-icon name="pencil"></ion-icon>
        </ion-button> -->
        <ion-button slot="end" size="small" fill="clear" class="list-btn" (click)="deleteComment(comment)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
        <ion-button slot="end" size="small" fill="clear" class="list-btn" (click)="expand(comment)">
          <ion-icon *ngIf="isExpanded(comment)" name="chevron-up"></ion-icon>
          <ion-icon *ngIf="!isExpanded(comment)" name="chevron-down"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-list *ngIf="isExpanded(comment)">
      <ion-item *ngFor="let type of getCommentTypes(comment)">
        {{ type.name }}
        <ion-button slot="end" size="small" fill="clear" class="list-btn"  (click)="deleteCommentType(comment, type)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

<!-- <ion-fab vertical="bottom" horizontal="center" edge slot="fixed">
  <ion-fab-button (click)="add()">
    <ion-icon name="add"></ion-icon>
  </ion-fab-button>
</ion-fab> -->