<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>{{getTitle()}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-segment (ionChange)="segmentChanged($event)" [value]="ALL_ITEMS">
        <ion-segment-button [value]="ALL_ITEMS">
            <ion-label>all</ion-label>
        </ion-segment-button>
      <ion-segment-button *ngFor="let type of getTypes()" [value]="type._id">
        <ion-label>{{type.name}}</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-list>
        <ion-item lines="none">
            <ion-button fill="clear" size="small" class="list-btn" disabled>
                <ion-icon></ion-icon>
            </ion-button>
            <ion-grid>
                <ion-row>
                    <ion-col class="align-self-start"> 
                        <strong>Item</strong>
                    </ion-col>
                    <ion-col class="right">
                        <strong>Price</strong>
                    </ion-col>
                    <ion-col class="right">
                        <strong>Amount</strong>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ion-button fill="clear" size="small" class="list-btn" disabled>
                <ion-icon></ion-icon>
            </ion-button>
        </ion-item>

        <ion-item *ngFor="let orderItem of getOrderItems()">
            <ion-button size="small" color="danger" class="list-btn" [disabled]="!hasAmountToPay(orderItem)" (click)="remove(orderItem.item)">
                <ion-icon name="remove"></ion-icon>
            </ion-button>
            <ion-button fill="clear" class="text-btn" (click)=add(orderItem.item)>
                <ion-grid>
                    <ion-row>
                        <ion-col class="left"> 
                            {{ getItemName(orderItem) }}
                        </ion-col>
                        <ion-col class="right">
                            {{ getPrice(orderItem) | currency }}
                        </ion-col>
                        <ion-col class="right">
                            {{ orderItem.getOpenAmount() }} | {{ getOpenAmount(orderItem.item) }}
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-button>
        </ion-item>
    </ion-list>    
</ion-content>

<ion-card>
    <ion-card-content>
        <strong>Total:</strong> {{ getTotal() | currency }}
    </ion-card-content>
</ion-card>

<ion-button size="large" expand="block" (click)="pay()">Pay</ion-button>
<ion-button size="large" expand="block" (click)="addAll()">Add all</ion-button>
<ion-button expand="block" (click)="cancel()">Cancel</ion-button>
