<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form #form="ngForm" (ngSubmit)="login(form)">
    <div class="ion-padding">
      <ion-item>
        <ion-input name="username" type="text" placeholder="Username" ngModel required></ion-input>
      </ion-item>
      <ion-item>
        <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
      </ion-item>
      <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
    </div>
  </form>
</ion-content>
