<table mat-table [dataSource]="getItems(type)" multiTemplateDataRows class="mat-elevation-z8" class="disable-select">
        <ng-container matColumnDef="item">
          <th mat-header-cell *matHeaderCellDef> Item </th>
          <td mat-cell *matCellDef="let item" class="left">
              {{item.name}}
          </td>
          <td mat-footer-cell *matFooterCellDef class="left"> Total </td>
        </ng-container>
    
        <ng-container matColumnDef="amount">
          <th mat-header-cell *matHeaderCellDef class="center"> Amount </th>
          <td mat-cell *matCellDef="let item">
            <button mat-raised-button [disabled]="!item.isActive()" (click)="removeItem(item)">-</button>
            {{getOpenAmount(item)}}
            <button mat-raised-button [disabled]="!item.isActive()" (click)="addItem(item)">+</button>
          </td>
          <td mat-footer-cell *matFooterCellDef>  </td>
    
        </ng-container>
    
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef class="center"> Price </th>
          <td mat-cell *matCellDef="let item">
            {{price(item) | currency }}
          </td>
          <td mat-footer-cell *matFooterCellDef>  </td>
    
        </ng-container>
    
        <ng-container matColumnDef="comment">
          <th mat-header-cell *matHeaderCellDef class="center"> Comment </th>
          <td mat-cell *matCellDef="let item">
            <button mat-raised-button [disabled]="!item.isActive()" (click)="expand(item)">
              <mat-icon>
                note
              </mat-icon>
            </button>
          </td>
          <td mat-footer-cell *matFooterCellDef> </td>
        </ng-container>
    
        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let item" [attr.colspan]="getColumns(type).length">
            <div class="element-detail"
                 [@detailExpand]="isExpanded(item) ? 'expanded' : 'collapsed'">
              <div class="element-description">
    
                1x 
                <mat-form-field>
                  <mat-label>Comment</mat-label>
                  <mat-select required [(value)]="selComment">
                    <mat-option *ngFor="let comment of getCommentsByType(type)" [value]="comment">
                      {{comment.comment}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
    
                <mat-form-field *ngIf="isManualComment()">
                  <label>
                    <input #commentInput matInput autocomplete="off" type="text" placeholder="Comment" [(ngModel)]="manualComment">
                  </label>
                </mat-form-field>
                <button mat-button (click)="updateComment(item)">Add comment</button>
    
                <div *ngIf="hasComments(item)">
                  <div *ngFor="let comment of getComments(item)">
                    {{comment}}
                  </div>
                </div>
              </div>
            </div>
          </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="getColumns(type)"></tr>
        <tr mat-row *matRowDef="let item; columns: getColumns(type);"
            class="element-row"
            [class.expanded-row]="isExpanded(item)" appLongPress (onLongPress)="expand(item)">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr>
        <!-- <tr mat-footer-row *matFooterRowDef="ORDER_COLUMNS"></tr> -->
      </table>