<div class="center" xmlns="http://www.w3.org/1999/html">
  <mat-divider></mat-divider>
  <h4>
    Favourites ({{favAmountOpenOrders()}}/{{favAmountTables()}})
    <button (click)="openFavDialog()">
      edit
    </button>
  </h4>
  <mat-divider></mat-divider>

  <app-table-overview-grid [tables]="getFavTables()"></app-table-overview-grid>

  <mat-divider></mat-divider>
  <h4>All Tables ({{amountOpenOrders()}}/{{amountTables()}})</h4>
  <mat-divider></mat-divider>

  <app-table-overview-grid [tables]="getTables()"></app-table-overview-grid>
</div>
