<div class="center" xmlns="http://www.w3.org/1999/html">
  <mat-divider></mat-divider>
  <h4>
    Favourites ({{favAmountOpenOrders()}}/{{favAmountTables()}})
    <button (click)="openFavDialog()">
      <mat-icon class="fav-btn"> <div class="."></div> </mat-icon>
    </button>
  </h4>
  <mat-divider></mat-divider>


  <div class="table-btns grid">
    <div *ngFor="let table of getFavTables()">
      <div *ngIf="hasOpenOrder(table); then coloredButton else greyButton"></div>
      <ng-template #coloredButton>
        <button class="table-btn has-order" [routerLink]="['/table', table]"> {{table}} </button>
      </ng-template>
      <ng-template #greyButton>
        <button class="table-btn" [routerLink]="['/table', table]"> {{table}} </button>
      </ng-template>
    </div>
  </div>



  <mat-divider></mat-divider>
  <h4>All Tables ({{amountOpenOrders()}}/{{amountTables()}})</h4>
  <mat-divider></mat-divider>

  <div class="table-btns grid">
    <div *ngFor="let table of getTables()">
      <div *ngIf="hasOpenOrder(table); then coloredButton else greyButton"></div>
      <ng-template #coloredButton>
        <button class="table-btn has-order" [routerLink]="['/table', table]"> {{table}} </button>
      </ng-template>
      <ng-template #greyButton>
        <button class="table-btn" [routerLink]="['/table', table]"> {{table}} </button>
      </ng-template>
    </div>
  </div>
</div>
